@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nunito Regular */
@layer components {
    .link {
        @apply font-thin;
    }

    .section-title {
        @apply text-center text-3xl text-sky-600 mt-16 font-semibold;
    }

    .hover-button:hover{
        @apply bg-sky-100 transition duration-500
    }
}
* {
    font-family: 'Nunito';
}

body::-webkit-scrollbar {
    display: none;
}

.bg-black-opacity {
    background: rgba(0, 0, 0, 0.3);
}